<mat-card class="task-form-card">
  <mat-card-title>Add New Task</mat-card-title>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="description"
        name="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Latest Time</mat-label>
      <input
        matInput
        [(ngModel)]="latestTime"
        name="latestTime"
        type="datetime-local"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="status" name="status">
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="createTask()">
      Add Task
    </button>
  </form>
</mat-card>
